@model IEnumerable<WealthManager.Core.Model.UserViewModel>
@using WealthManager.Core.Enum
@using WealthManager.Core.ExtensionClass

<h4>Client Details</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasActiveRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @{
                        var clientType = Extensions.GetEnumDisplayName((ClientType)item.ClientType);
                    }
                    <span>
                        @clientType
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
                <td>
                    @{
                        if (item.HasActiveRole != true)
                        {
                            <span>No</span>
                        }
                        else
                        {
                            <span>Yes</span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentId)
                </td>
            </tr>
        }
        <tr>
            @{
                @Html.ActionLink("Back to details", "UserDetails", new { userName = User.Identity.Name })
            }
        </tr>
    </tbody>
</table>
